.card{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.mainContainer{
    display: flex;
    flex-direction: row;
}

.btnCustom{
    background-color: #6366f1; /* color indigo */
    color: white;
    font-weight: 600;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.btnCustom:hover {
    background-color: #4f46e5;
    transform: translateY(-2px);
  }
  
  .btnCustom:active {
    transform: translateY(0);
  }